
{% extends 'pig/base.html' %}

<!-- {% load static %} -->

{% block content %}

<<div class="row row-cols-1 row-cols-md-3 g-4">

    {% for post in posts %}

	<div class="card h-100" style="padding: 10px;">
		<img src="{{ post.imagen.url }}" class="card-img-top" alt="..." style="max-width: 300px; height: auto; ">
		<div class="card-body">
		  <h5 class="card-title">{{ post.titulo }}</h5>
		  <p class="card-text">{{ post.contenido }}</p>
		</div>
		<span class="card-footer text-muted">Autor: {{ post.autor }}</span>
	</div>

	
    {% endfor %}

</div>
    <section>
		<br>
        <div style="width: 75%; margin:auto; text-align: center; color: white;">
            Categoria: --{{categoria}}--
        </div>
    </section>

{% endblock %}
