<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sr. {{ nombreusuario|capfirst }} </h3> 
    <h2>Pedido N° {{pedido.id}}</h2>
    <h3>Detalle:</h3> 
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
          </tr>
        </thead>
        <tbody>
            {% for linea in lineas_pedido %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{linea.1.nombre}}</td>
                <td>{{linea.1.cantidad}}</td>
                <td>{{linea.1.precio}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Muchas gracias por su compra</h2>
</body>
</html>