{% extends 'grupo12pig/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form method="post" action="" style="color: white" class="contenedorFormulario">
	{% csrf_token %}

	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}

<div style="width: 90%; margin: auto; color:white; margin: 20px;">

	<table class="table" style="color:white;"">
		<thead>
		  <tr>
			<th scope="col">username</th>
			<th scope="col">Estado Actual</th>
			<th scope="col">Accion</th>
		  </tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td><a class="btn btn-outline-info" style="width: 150px;" href="#">{{user.username}}</a></td>
				{% if user.is_active %}
					<td><a class="btn btn-success" style="width: 110px;" href="#">Activado</a></td>
				{% else %}
					<td><a class="btn btn-danger" style="width: 110px;" href="#">Desactivado</a></td>
				{% endif %}
				{% if user.is_superuser %}
					<td><a class="btn btn-info" style="width: 200px;" href="#">Super Usuario</a></td>
				{% else %}
					{% if user.is_active %}
						<td><a class="btn btn-danger" style="width: 200px;" href="activa/d/{{user.id}}">Desactivar</a></td>
					{% else %}
						<td><a class="btn btn-info" style="width: 200px;" href="activa/a/{{user.id}}">Activar</a></td>
					{% endif %} 
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	  </table>

</div>
</form>
{% endblock %}
