{% extends 'grupo12pig/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form method="post" action="" style="color: white" class="contenedorFormulario">
	{% csrf_token %}

	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}

<div style="width: 75%; margin: auto; color:white; margin: 20px auto;">

	<table class="table" style="color:white;"">
		<thead>
		  <tr>
			<th scope="col">username</th>
			<th scope="col">Estado Actual</th>
			<th scope="col">Accion</th>
		  </tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td>{{ user.username }}</td>
				{% if user.is_active %}
					<td>Activo</td>
					{% if user.is_superuser %}
						<td><a href="#">este usuario no debe desactivarse</a></td>
					{% else %}
						<td><a href="activa/d/{{ user.id }}">Desactivar</a></td>
					{% endif %}
				{% else %}
					<td>No Activo</td>
					<td><a href="activa/a/{{ user.id }}">Activar</a></td>
				{% endif %}
				<!-- <button type="submit" class="btn btn-success" style="width: 150px;">Registrate</button> -->
			</tr>
			{% endfor %}
		</tbody>
	  </table>

</div>
</form>
{% endblock %}
